header {
    background-color: var(--main-red-color);
    height: 15vh;
    flex: 1;
    padding: 0 5vh;
    margin: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .content {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .content a {
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;
}